#text-black1{
    color: var(--black);
}
#text-black2{
    color: var(--black);
}
#text-black3{
    color: var(--black);
}
#text-black4{
    color: var(--black);
}
#text-black5{
    color: var(--black);
    margin-top: 10px;
}
#text-black6{
    color: var(--black);
    margin-top: 10px;
}
#text-black7{
    color: var(--black);
}
#text-black8{
    color: var(--black);
}
#text-black9{
    color: var(--black);
    margin-top: 10px;
}
#text-black10{
    color: var(--black);
    margin-top: 10px;
}
#text-black11{
    color: var(--black);
}
#text-black12{
    color: var(--black);
}